@import 'node_modules/bootstrap/scss/bootstrap-reboot';
@import 'node_modules/bootstrap/scss/bootstrap-grid';

$monserrat-family: 'Montserrat', sans-serif;
$primary-orange: #ffba35;
$secondary-orange: #fffedb;

html {
  height: 100%;
}

body {
  background: white;
  font-family: $monserrat-family;
  font-weight: 300;
}

h1, h2, h3, h4, .heading {
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

h1, h2, h3,.heading {
  font-weight: 700;
  padding: 0.5rem 0;
  font-size: 2rem;
  line-height: 2rem;
}

a {
  color: #000000;
  text-decoration: underline;
  font-weight: 400;
}

a:hover {
  text-decoration: none;
}

.scheme--dark {
  background: $primary-orange;

  h1, h2, h3, .heading {
    color: $secondary-orange;
  }
}

.scheme--light {
  background: $secondary-orange;

  h1, h2, h3, .heading {
    color: $primary-orange;
  }
}

.scheme--bw {
  background: #000000;
  color: #ffffff;
}

.v-padding {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media(max-width: 767px) {
  .v-padding--mobile {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.video-block {
  display: flex;
  flex-direction: column;

  iframe {
    align-self: center;
  }
}

.title-block {
  background-image: linear-gradient(black, black), url('./assets/main.jpg');
  background-blend-mode: saturation;
  background-size: cover;
  background-position: bottom center;
  min-height: 500px;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    color: $primary-orange;

    h1 {
      text-align: center;
      font-size: 2.5rem;
    }

    h2 {
      font-size: 1.5rem;
    }

    .logo {
      max-height: 10rem;
    }
  }
}

.map-img {
  width: 100%;
  display: inline-block;
}

.social-link {
  width: 1rem;
  height: 1rem;
  padding-left: 1.5rem;
  margin-right: 2rem;
  background-size: 1rem auto;
  background-repeat: no-repeat;
  background-position: 0 center;
}

.social-link--facebook {
  background-image: url('assets/fb.svg');
}

.social-link--instagram {
  background-image: url('assets/insta.svg');
}
