@import 'node_modules/bootstrap/scss/bootstrap-reboot';
@import 'node_modules/bootstrap/scss/bootstrap-grid';

$primary-color: #ffbd4a;
$monserrat-family: 'Montserrat', sans-serif;

html {
  height: 100%;
}

body {
  background: white;
  font-family: $monserrat-family;
}

header {
  background: blue;
}

h1 {
  text-transform: uppercase;
  color: $primary-color;
  font-weight: 600;

  &::before {
    content: '';
    position: absolute;
    width: 25%;
    top: -1rem;
    border-bottom: 2px solid $primary-color;
  }
}

h2 {
  font-weight: 400;
}

.height-100 {
  height: 100%;
}

.height-100vh {
  min-height: 100vh;
  overflow: scroll;
}

.topper {
  min-height: 100vh;

  .container {
    // margin-bottom: -40px;
  }
}

.footer {
  // min-height: 25vh;
  background: $primary-color;
}

.cover-img__container {
  position: relative;
  text-align: center;

  h1 {
    position: absolute;
    bottom: 0;
    padding: 0 0 1rem 1rem;
  }

  iframe {
    width: 100%;
    min-height: 315px;
  }
}

.gogo-btn {
  background: #E51075;
  border: 1px solid #E51075;
  color: white;
  font-weight: 600;
  width: 100%;
  padding: 20px 0;
  display: block;
}

.gogo-btn:hover {
  color: #E51075;
  border: 1px solid #E51075;
  background: #ffe3f0;
  text-decoration: none;
}

.cover-img {
  max-height: 580px;
  max-width: 100%;
  filter: grayscale(1);
  // margin: 0 auto -40px auto;
}

.copy-container {
  margin-top: 1.5rem;
}